body{
    background-color: #550716
}
h1,h2{
    color:tomato;
    font-family: 'Arial', sans-serif;  
    font-size: 2em;
    text-align:center; 
}
h1{
   color:#ff0000;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-style:italic
   
}
p{
    color:#ffffff;
    font-size: 2rem;
    font-weight:bolder;
    line-height: 1.2;
}
h3{
    color:rgb(255, 100, 100 );
    background-color:rgba(215, 199, 199, 0.5);
    text-transform:capitalize
}
h4{
    color:hsl(60, 100%, 50%)
}
div{
    font-size: 12px;
}
a{
    text-decoration:none;
    
    color:hsl(60, 100%, 50%)
}